version: '3'

services:
  db:
    image: postgres
    ports:
      - "5432:5432"
    environment:
        POSTGRES_DB: "db"
#        POSTGRES_USER: "admin"
#        POSTGRES_PASSWORD: "hisky"
        POSTGRES_HOST_AUTH_METHOD: "trust"#This is insecure, and really ought to be secure, ya dummy
  django:
    build: ./backend
    volumes:
      - ./backend:/app/backend
    ports:
      - "8000:8000"
    depends_on:
      - db
  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app/frontend
      - node-modules:/app/frontend/node_modules
    ports:
      - "8080:8080"

volumes:
  node-modules:
